- if @results
  .row
    .span6
      %p
        Matched #{@results.total} files
        among ~#{@results.raw['aggregations']['apps_count']['value']} apps
        (took #{@results.raw['took']/1000.0}s)

    .span6.source-paginate
      = will_paginate @pagination

- if @files
  .row
    .span12
      %table.table.table-condensed.table-bordered.lines
        %thead
          %tr
            %th Android Package
            %th Filename
            %th Line
        %tbody
          - @files.each do |file|
            - file[:lines].each do |line|
              %tr
                -# %td.eid=  link_to file[:app_id],   "/apps/#{file[:app_id]}"
                %td.eid=  link_to file[:app_id], "https://play.google.com/store/apps/details?id=#{file[:app_id]}"
                %td.path= link_to file[:filename], "/apps/#{file[:app_id]}/#{file[:path]}"
                %td.line.CodeRay= raw CodeRay.scan(line, file[:extension]).html

- if @results
  .row
    .span12.source-paginate
      = will_paginate @pagination
